#### 1. record = {
####  'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
####  'Age': [21, 19, 20, 18, 17, 21],
####  'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
####  'Percentage': [88, 92, 95, 70, 65, 78]}

#### Convert above dictionary into pandas dataframe
- Get only those rows where stream is - Math, Commerce
- Get only those rows where stream is not Science
- get those rows where stream is Math and age is less than 20
- print the sum of number of students in commerce and science stream
- find the name of the student with maximum percentage in Science stream

In [1]:
import pandas as pd

In [2]:
record = {
'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
'Age': [21, 19, 20, 18, 17, 21],
'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
'Percentage': [88, 92, 95, 70, 65, 78]}

In [3]:
df = pd.DataFrame(record)

In [4]:
df

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

In [23]:
# Get only those rows where stream is - Math, Commerce
df.loc[(df['Stream'] == 'Math') & (df['Stream'] == 'Commerce')]

Empty DataFrame
Columns: [Name, Age, Stream, Percentage]
Index: []

In [18]:
# Get only those rows where stream is not Science
df[df.loc[:,'Stream'] != 'Science']

       Name  Age    Stream  Percentage
0     Ankit   21      Math          88
1      Amit   19  Commerce          92
3  Priyanka   18      Math          70
4     Priya   17      Math          65

In [21]:
# get those rows where stream is Math and age is less than 20
df.loc[(df['Stream'] == 'Math') & (df['Age'] < 20)]

       Name  Age Stream  Percentage
3  Priyanka   18   Math          70
4     Priya   17   Math          65

#### 2. Create DataFrame with 'City' column and calculate the average 'Age' for each city.eg{'Jalandhar:[20,31,34,18,20,50], 
#### 'chandigarh':[20,30,40,50,60]}
- mean age of jalandhar---
- mean age of Chandigarh

In [30]:
city2 = pd.DataFrame({
    'City' : ['Jalandhar','Chandigarh'],
    'Age' : [[20,31,34,18,20,50],[20,30,40,50,60]]
})

In [32]:
city = pd.DataFrame({
    'Jalandhar':[20,31,34,18,20,50],
    'Chandigarh':[20,30,40,50,60]
})

ValueError: All arrays must be of the same length

In [44]:
#### 4. Given a DataFrame with missing values, fill missing values in column 'B' with the mean of that column and 
#### drop rows where any other column has missing values.  {'A': [1, 2, np.nan, 4], 'B': [np.nan, 2, 3, 4], 'C': [1, np.nan, 3, 4]}

In [46]:
import numpy as np

In [47]:
df_n = pd.DataFrame({
    'A': [1, 2, np.nan, 4], 
    'B': [np.nan, 2, 3, 4], 
    'C': [1, np.nan, 3, 4]
})

In [48]:
df_n

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  3.0
3  4.0  4.0  4.0

In [51]:
df_n['B'].describe()

count    3.0
mean     3.0
std      1.0
min      2.0
25%      2.5
50%      3.0
75%      3.5
max      4.0
Name: B, dtype: float64

In [52]:
df_n['B'].fillna(3)

0    3.0
1    2.0
2    3.0
3    4.0
Name: B, dtype: float64

#### 5. Extract the domain names from a column of email addresses.
#### eg pd.Series(['alice@coderroots.com', 'bob@gmail.com', 'charlie@yahoo.com'])
#### output o7services.com, gmail.com , yahoo.com

In [35]:
domain_name = pd.Series(['alice@coderroots.com', 'bob@gmail.com', 'charlie@yahoo.com'])

In [36]:
domain_name

0    alice@coderroots.com
1           bob@gmail.com
2       charlie@yahoo.com
dtype: object

In [38]:
df.domain_name.str.split('@').str[1].str.split().str[0]

AttributeError: 'DataFrame' object has no attribute 'domain_name'

#### 6. Create a 5x6 numpy array filled with zeros.

In [39]:
import numpy as np

In [41]:
np1 = np.zeros((5,6))

In [42]:
np1

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])