## s = pd.Series([10, 20, 30, 40, 50, 60, 70], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

### 1. Use the loc method to retrieve the value associated with index 'c'.

In [2]:
import pandas as pd

In [3]:
s = pd.Series([10, 20, 30, 40, 50, 60, 70], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [5]:
s.loc['c']

30

### 2. Use the iloc method to retrieve the value at the 4th position in the Series.

In [6]:
s.iloc[3]

40

### 3. Use the at method to update the value at index 'd' to 100.

In [7]:
s.at['d'] = 100

### 4. Use the iat method to change the value at position 6 to 200.

In [9]:
s.iat[6] = 200

### 5. Add a new element with index 'h' and value 80 to the Series s.

In [10]:
s['h'] = 80

### 6. Select all values in the Series that are between 30 and 70, inclusive, using the between() function.

In [36]:
s2 = pd.Series([10, 20, 30, 40, 50, 60, 70], index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s2_temp = s2[s2.between(30,80)]

In [37]:
s2_temp

c    30
d    40
e    50
f    60
g    70
dtype: int64

### 7. Use the isin() function to check which values in the Series match the list [20, 50, 100].

In [38]:
s.isin([20, 50, 100])

a    False
b     True
c    False
d     True
e     True
f    False
g    False
h    False
dtype: bool

### 8. Create a new pandas Series s1 with values [5, 15, 25, 35, 45] and index ['p', 'q', 'r', 's', 't']. Use iloc to update the value at position 2 to 100

In [39]:
s1 = pd.Series([5, 15, 25, 35, 45], index=['p', 'q', 'r', 's', 't'])

In [40]:
s1

p     5
q    15
r    25
s    35
t    45
dtype: int64

In [41]:
s1.iloc[2] = 100

In [43]:
s1

p      5
q     15
r    100
s     35
t     45
dtype: int64

##  s2 = pd.Series([5, 10, 15, 20, 25], index=['a', 'b', 'c', 'd', 'e'])

In [44]:
 s2 = pd.Series([5, 10, 15, 20, 25], index=['a', 'b', 'c', 'd', 'e'])

In [45]:
s2

a     5
b    10
c    15
d    20
e    25
dtype: int64

### With the same Series s2, use iloc[] to get the last two elements.

In [47]:
s2.iloc[-2:]

d    20
e    25
dtype: int64

### Add a new element to Series s2 with index 'f' and value 50. Then display the updated Series.

In [48]:
s2['f'] = 50

In [49]:
s2

a     5
b    10
c    15
d    20
e    25
f    50
dtype: int64